// Colors
$primary: #556B2F;
$dark: #252525;
$dark-brighter: lighten($dark, 20%);
$light: #F2F2F2;
$danger: #FF0000;

$title-font-size: 1.7rem;
$border-radius-sm: .2rem;
$border-radius-md: .5rem;
$nav-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);

// Font size for inputs and buttons on forms
$form-font-size: 100%;